.project-container {
  height: 164px;
  width: 164px;
  background-color: #331c5d;
  /* border-radius: 50%; */
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: popin 0.3s;
  transform: rotate(45deg);
}

.project-image {
  transform: rotate(-45deg);
  margin-top: 18.75%;
  height: 62.5%;
  width: 62.5%;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  background-color: #331c5d;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.3) rotate(-45deg);
  /* border-radius: 50%; */
  transition: 0.3s;
  opacity: 0;
  text-transform: uppercase;
  font-style: italic;
}

.project-container:hover .project-overlay {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}

@keyframes popin {
  from {

    transform: scale(0.3) rotate(45deg);
  }

  to {
    transform: scale(1)  rotate(45deg);
  }
}

@media only screen and (max-width: 1170px) {
  .project-container:not(.full-size) {
    height: calc(164px / 1.4);
    width: calc(164px / 1.4);
  }

  .project-overlay {
    font-size: 22px;
  }

}
