{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": "defaults"
      }
    ],
    "@babel/preset-react",
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true }]
  ]
}