.media-button-container {
  float: right;
}

.media-button {
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

.media-button:hover {
  filter: brightness(0.5);
}
