.zoomable-container, .zoomable-sub-container {
    display: block;
    cursor: pointer;
    transition: all .3s ease-in-out;
    height: 100%;
    width: 100%;
}

.zoomable-container.zoomed {
    position: fixed;
    transform-origin: center center;
    z-index: 99;
}

.zoomable-container.zoomed .zoomable-sub-container {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all .3s all-in-out;
    position: relative;
}

.zoomable-container .zoomable-sub-container .zoomable-close-button {
    display: none;
}

.zoomable-container.zoomed .zoomable-sub-container .zoomable-close-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.zoomable-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: fadeIn 0.3s;
    background-color:rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}