.landing-avatar-image {
  vertical-align: bottom;
  height: 85vh;
  margin-left: 6vw;
}

.landing-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
}

.landing-container .main-text-container h1, .landing-container .main-text-container .first-text {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: normal;
}

.landing-container .main-text-container h1 {
  line-height: 1;
  font-size: 1.5em;
  margin-bottom: 16px;
}

.landing-container a, .landing-container a:active, .landing-container a:hover, .landing-container a:visited {
  align-self: flex-end;
  color: #331c5d;
}

.media-container-row {
  margin-top: 32px;
}

.landing-container .info-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  margin-top: 16px;
  margin-right: 8vw;
}

.landing-background {
  position: absolute;
  top: -150vh;
  height: 300vh;
  right: -200vh;
  background-image: linear-gradient(to right bottom, #7a0056, #961356, #af2854, #c43f51, #d7574e);
  /* opacity: 0.8; */
  width: 300vh;
  transform: rotate(-35deg);
}


@media only screen and (min-width: 1170px) {
    .landing-container .text-container {
      height: 20vw;
    }
}

.landing-container .main-text-container {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 40vw;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.landing-container .recommendation-slider-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
  max-width: 40vw;
  padding: 16px;

}

@media only screen and (max-width: 1170px) {
  .landing-avatar-image {
    display: none;
  }

  .landing-container .main-text-container, .landing-container .recommendation-slider-container {
    position: relative;
    left: 0;
    top: 0;
    box-shadow: none;
  }

  .landing-container .main-text-container {
    margin-top: 56px;
    max-width: 100vw;
  }

  .landing-container .recommendation-slider-container  {
    width: calc(92% - 32px);
    max-width: calc(92% - 32px);
    display: none;
  }

  .landing-container {
    flex-direction: column;
  }

  .landing-container .media-button-container {
    float: left;
    display: block;
    margin-top: 16px;
  }

  .landing-container .info-container {
    margin-top: 74px;
  }
}
