.icon-container {
  margin-left: 4%;
  margin-right: 4%;
  z-index: 99999;
  margin-top: -72px;
}

.icon-container * {
  z-index: 2;
}

.skill-group-separator {
  min-width: 6px;
  width: 6px;
  background-color: #29154e;
  height: 64px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.09), 0 3px 1px -2px rgba(0,0,0,0.07), 0 1px 5px 0 rgba(0,0,0,0.15);
}

.project-info-container {
  margin-left: 4%;
  margin-right: 4%;
}

.project-info-container .back-button-container {
  position: absolute;
  width: 64px;
  height: 64px;
  font-size: 64px;
  line-height: 48px;
  bottom: -12px;
  left: -12px;
  background-color: #7a0056;
  /* border-radius: 50%; */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  cursor: pointer;
  transform: rotate(45deg);
}

.project-info-container .back-button-container div {
  height: 100%;
  width: 100%;
  transform: rotate(-45deg);
}

.project-description-container {
  width: 50%;
  position: fixed;
  top: 64px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.project-scroller-container {
  margin-left: 60%;
  width: 40%;
  display: inline-block;
}

.project-header {
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  margin-top: 16px;
}

.project-header .project-title-container {
  display: inline-block;
  margin-left: 48px;
}

.project-skills-container {
  padding-left: 8px;
  padding-right: 8px;
  height: calc(164px / 1.75);
  max-width: 35vw;
  overflow: hidden;
  padding-top: 16px;
}


.project-skills-container .skill-super-container, .project-skills-container .skill-sub-container, .project-skills-container .skill-container {
  width: calc(164px / 2.5);
  height: calc(164px / 2.5);
}

.project-skills-container .skill-overlay-text {
  font-size: 14px;
}

@media only screen and (max-width: 1170px) {
  .project-info-container {
    flex-direction: column;
  }

  .project-description-container {
    position: relative;
    top: 0;
    width: 100%;
    margin-right: 0;
  }

  .project-scroller-container {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
  }

  .project-header {
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 0;
  }

  .project-header .project-title-container {
    margin-top: 32px;
    margin-left: 0;
    align-self: flex-start;
  }

  .project-skills-container {
    max-width: 100vw;
    margin-left: -4%;
    margin-right: -4%;
  }

  .project-page-background {
    display: none;
  }
}

@media only screen and (min-width: 1170px) {
  .project-description-content {
      height: calc(100vh - 96px);

  }

}

.project-page-background {
  position: fixed;
  top: -150vh;
  height: 400vh;
  right: -250vh;
  background-image: linear-gradient(to left bottom, #7a0056, #961356, #af2854, #c43f51, #d7574e);
  /* opacity: 0.8; */
  width: 300vh;
  transform: rotate(-35deg) translateZ(0);
  z-index: -1;
}

.project-description-header {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  align-items: center;

}

.project-description-header div {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  margin-right: 20px;
  padding: 8px;
  padding-left: 0;
  padding-right: 16px;
  cursor: pointer;
}

.project-description-header div:before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #29154e;
  margin-right: 8px;
}

.project-description-header div.isActive {
  color: #7a0056;
}

.project-description-header div.isActive:before {
  background-color: #7a0056;
}

.project-description-content {
  margin-bottom: 16px;
  padding-right: 16px;
  overflow: auto;
  flex-grow: 1;
}

#project-page-container .slick-arrow {
  display: none !important;
}

.project-close-button-container {
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  bottom: -22px;
  left: -22px;
  background-color: #7a0056;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-close-button-container div {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -3px;
  margin-left: -3px;
}