.emoji-container {
  font-size: 80px;
  text-align: center;
}

.no-project-text-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  text-align: center;
}

.no-project-text-container sub {
  margin: 12px;
  font-size: 20px !important;
  font-family: 'Roboto';
  text-transform: uppercase;
}

.filter-container {
  width: 25%;
  max-width: 25%;
  margin-right: 2.5%;
  padding-right: 2.5%;
  overflow-x: auto;
  border-right: 3px solid black;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.project-list-container .row {
  align-items: flex-start;
}

.filter-container .filter-row {
  justify-content: flex-end;
  width: 100%;
}

.filter-container .filter-text {
   margin-right: 8px;
   margin-bottom: 16px;
   width: 100%;
   text-align: right;
}

.project-list-container {
  flex: 1;
  position: relative;
}


@media only screen and (max-width: 1170px) {
  .filter-container, .project-list-container {
    width: 100%;
    max-width: 100%;
  }

  .filter-container {
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-left: calc(4% + 16px);
    margin-right: calc(4% + 16px);
    padding-right: 0;
    border-right: 0;
    border-bottom: 3px solid black;
  }

  .filter-container .filter-row {
    justify-content: center;
    width: auto;
  }

  .filter-container .filter-text {
    text-align: left;
  }

}

.project-background {
  position: absolute;
  bottom: -90vh;
  height: 100vh;
  right: -70vh;
  background-image: linear-gradient(to left top, #7a0056, #961356, #af2854, #c43f51, #d7574e);
  width: 100vh;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  z-index: -1;
}

.project-child-container {
  overflow: visible;
}