.recommendation-slider .slick-prev {
  left: calc(18px / 4);
  transform: rotate(135deg);
}

.recommendation-slider .slick-next {
  right: calc(18px / 4);
  transform: rotate(315deg);
}

.recommendation-slider .slick-arrow {
  cursor: pointer;
  top: 100%;
  z-index: 2;
  position: absolute;
  height: 18px;
  width: 18px;
  border: 0;
  color: transparent;
  background-color: transparent;
  border: solid #29154e;
  border-width: 0 5px 5px 0;
  display: inline-block;
  outline: none !important;
  transition: 0.2s;
  opacity: 0.95;
}

.recommendation-slider .slick-arrow:before {
  color: black;
}

.recommendation-slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: center;
  align-items: center;
  display: flex !important;
  flex-direction: row;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: 0.2s;
}

.recommendation-slider .slick-dots li {
  list-style: none;
}

.recommendation-slider .slick-dots li button {
  background-color: #29154e;
  color: transparent;
  height: 12px;
  width: 12px;
  border: 0;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  outline: none !important;
  opacity: 0.95;
  padding: 0;
}

.recommendation-slider .slick-dots li.slick-active button, .recommendation-slider .slick-dots li:hover button {
  background-color: #7a0056;
}

.recommendation-slider .slick-arrow:hover {
  border-color: #7a0056;
}

.recommendation-slider {
  color: black;
  border-radius: .25em;
  padding-bottom: 32px;
}

.recommendation-slider .recommendation-slide {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100% !important;
}

.recommendation-slider .recommendation-author-image {
  /* border-radius: 50%; */
  height: 64px;
  object-fit: cover;
  width: 64px;
  display: inline-block;
  vertical-align: middle;
}

.recommendation-slider .recommendation-author-info {
  margin-left: 16px;
  display: inline-block;
}

.recommendation-slider .recommendation-author-name {
  text-transform: uppercase;
  font-size: 18px;
}

.recommendation-slider .recommendation-author-job {
  font-size: 12px;
  color: #ccc;
}

.recommendation-slider .recommendation-content {
  margin-left: calc(64px + 16px);
  margin-right: calc(64px + 16px);
  font-size: 16px;
}

.recommendation-slide:focus {
  outline: none;
}

.recommendation-slider .slick-prev:before, .recommendation-slider .slick-next:before {
  font-size: 32px;
  opacity: 1;
  color: #7a0056;
}
