.title {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 4.5em;
  text-transform: uppercase;
  line-height: 1;
}

.title.margin-top {
  margin-left: 16px;
  /* padding-top: 80px; */
}
