.footer-container {
  background-color: #29154e;
  display: flex;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: flex-end;
}

.footer-button-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-top: 32px;
}

@media only screen and (max-width: 1170px) {
  .footer-button-container .basic-button {
    width: 65%;
  }
}
