.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .row:after {
  flex: auto;
  flex-grow: 1;
} */

.row.noWrap {
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1170px) {
  .row-space-around-mob {
    justify-content: space-around;
  }
}
